body {
  background-color: rgb(223, 223, 223);
  margin: 0px;
}
.products{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(100% - 350px);
    min-width: 280px;
    justify-content: space-around;
}
.header{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.alert{
  background-color: #333;
    position: fixed;
    width: 35%;
    top: -100%;
    display: flex;
    transition: top 0.3s;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 13px 18px rgb(0 0 0 / 35%);
    text-align: center;
    z-index: 10;
}
.clean-search{
  border: 1px solid #6c757dc2;
}
.basket{
  height: 50px;
  width: 50px;
  background: url('../public/assets/svg/basket_icon.svg') no-repeat;
  display: flex;
  align-items: center;
}
.number-goods{
  background: white;
  font-size: xx-large;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-sort{
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}
.form-control{
  min-width: 180px !important;
}
.input-group{
  width: 25rem !important;
}
.container-products{
  display: flex;
  flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.cell-products{
  background-color: rgb(255, 255, 255);
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 13px 5px #00000047;
}
.frame-photo{
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.photo-products{
  max-width: 250px;
}
.price-products{
  text-decoration: underline;
  font-size: x-large;
  font-style: oblique;
  margin: 0 auto;
}
.active-product{
  background-color: rgb(204, 191, 155);
}
.filters{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 35px;
    align-items: center;
    max-width: 350px;
}
.slider-year,
.slider-price,
.slider-hull-width{
  width: 100%;
  margin:3rem 0;
}
.list-filter{
  list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.element-filter{
    padding: 5px;
}
.label-color {
  width: 32px;
  height: 26px;
  display: block;
  position: relative;
 }
.input-color + .span-color {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  
  cursor: pointer;
 }
 .input-color:checked + .span-color {
  background-position: 0 -26px; 
 }
 .red + .span-red {
  background: url(../public/assets/img/red.png) no-repeat;
 }
 .blue + .span-blue {
  background: url(../public/assets/img/blue.png) no-repeat;
 }
 .black + .span-black {
  background: url(../public/assets/img/black.png) no-repeat;
 }
 .grey + .span-grey {
  background: url(../public/assets/img/grey.png) no-repeat;
 }
 .white + .span-white {
  background: url(../public/assets/img/white.png) no-repeat;
 }
 .button-filter-active{
  background-color: rgb(204, 191, 155);
 }
 .external-cooler{
  transform:scale(2);
  cursor:pointer;
 }